<div class="event-table">
    <div class="event-table-header-row">
        <div class="event-table-header">
            Description
        </div>
        <div class="event-table-header">
            Start
        </div>
        <div class="event-table-header">
            End
        </div>
        <div class="event-table-header">
            Tags
        </div>
        <div class="event-table-header"></div>
    </div>
    <div class="event-table-body"></div>
</div>