@using Nulah.AtHome.Api.Services
@using Nulah.AtHome.Data.DTO.Events
@using Nulah.AtHome.Api.Models
@using Nulah.AtHome.Data
@using System.Text.Json
@using System.Text.Encodings.Web
@using System.Reflection
@rendermode @(new InteractiveServerRenderMode(false))

<EventForm FormSubmit="CreateEvent"/>

<EditForm Model="ListCriteria">
    <div class="form-group">
        <NullableBooleanSelector TrueText="Has End Date" FalseText="No End Date" NullText="All" @bind-Value="ListCriteria.HasEventDate"/>
    </div>
    <button @onclick="FilterEvents">Filter</button>
</EditForm>

<div class="event-table">
    <div class="event-table-header-row">
        <div class="event-table-header">
            Description
        </div>
        <div class="event-table-header">
            Start
        </div>
        <div class="event-table-header">
            End
        </div>
        <div class="event-table-header">
            Tags
        </div>
        <div class="event-table-header"></div>
    </div>
    @if (_isLoading)
    {
        // In the future this will simply disable the list to account for existing items already being available
        // which means dragging the loop below up and making sure it doesn't throw a null reference exception on event service
        <h2>Loading...</h2>
    }
    else
    {
        <div class="event-table-body">
            @foreach (var eventDto in Events)
            {
                <EventTableRow EventDto="eventDto"/>
            }
        </div>
    }
</div>

@code {

    [Inject]
    private EventService EventService { get; set; }

    [Inject]
    private NavigationManager Navigation { get; set; }

    private List<BasicEventDto> Events { get; set; } = new();

    private bool _isLoading = true;

    private EventListCriteria ListCriteria { get; set; } = new();

    // A bunch of stuff below to build up list criteria from the query string that I wish I could do in a smarter way
    // Probably could with some string split on ? then = into a dictionary that I use property reflection and set it on the
    // list criteria but

    #region Query Param Shit

    // valid type conversions https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-8.0#query-strings

    [SupplyParameterFromQuery(Name = nameof(EventListCriteria.HasEventDate))]
    private bool? CriteriaHasEventDate { get; set; }

    [SupplyParameterFromQuery(Name = nameof(EventListCriteria.BeforeEndDate))]
    private DateTime? CriteriaBeforeEndDate { get; set; }

    #endregion

    private async void NavigationOnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        ListCriteria.HasEventDate = CriteriaHasEventDate;
        ListCriteria.BeforeEndDate = CriteriaBeforeEndDate;
        await EventService.LoadEvents(ListCriteria);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        ArgumentNullException.ThrowIfNull(EventService);
        EventService.EventsUpdated += OnChanged;
        Navigation.LocationChanged += NavigationOnLocationChanged;

        await EventService.LoadEvents(ListCriteria);
        // _isLoading = false;
        // triggers the component to rerender
        await InvokeAsync(StateHasChanged);
    }

    private void OnChanged(object? sender, List<BasicEventDto> e)
    {
        // Update is loading if it was previously changed to true elsewhere, eg, a hard refresh button was clicked
        if (_isLoading)
        {
            _isLoading = false;
        }

        Events = e;

        InvokeAsync(StateHasChanged);
    }

    private async Task CreateEvent(EventFormData eventFormData)
    {
        var createEventRequest = new NewBasicEventRequest()
        {
            Description = eventFormData.Description,
            Start = eventFormData.Start,
            End = eventFormData.End,
            Tags = string.IsNullOrWhiteSpace(eventFormData.Tags)
                ? []
                : eventFormData.Tags.Split(",").ToList()
        };

        var createdEvent = await EventService.CreateEvent(createEventRequest);

        await EventService.LoadEvents(ListCriteria);

        await InvokeAsync(StateHasChanged);
    }

    private Task FilterEvents(MouseEventArgs arg)
    {
        // Build up the query parameters from the criteria object
        var searchCriteria = new RouteValueDictionary(ListCriteria)
            .ToDictionary(x => x.Key, x => x.Value);

        // Build the uri from the above (this will be relative to whatever route we're currently on)
        Navigation.NavigateTo(Navigation.GetUriWithQueryParameters(searchCriteria));

        return Task.CompletedTask;
    }

}