@using Nulah.AtHome.Api.Services
@using Nulah.AtHome.Data.DTO.Events
@rendermode @(new InteractiveServerRenderMode(false))

<div class="event-table">
    <div class="event-table-header-row">
        <div class="event-table-header">
            Description
        </div>
        <div class="event-table-header">
            Start
        </div>
        <div class="event-table-header">
            End
        </div>
        <div class="event-table-header">
            Tags
        </div>
        <div class="event-table-header"></div>
    </div>
    <div class="event-table-body">
        @foreach (var eventDto in Events)
        {
            <EventTableRow EventDto="eventDto"/>
        }
    </div>
</div>

@code {

    [Inject]
    private EventService EventService { get; set; }

    private List<BasicEventDto> Events { get; set; } = new();

    private bool _isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        ArgumentNullException.ThrowIfNull(EventService);
        EventService.EventsUpdated += OnChanged;

        await EventService.LoadEvents();
        // _isLoading = false;
        // triggers the component to rerender
        await InvokeAsync(StateHasChanged);
    }

    private void OnChanged(object? sender, List<BasicEventDto> e)
    {
        // Update is loading if it was previously changed to true elsewhere, eg, a hard refresh button was clicked
        if (_isLoading)
        {
            _isLoading = false;
        }

        Events = e;

        InvokeAsync(StateHasChanged);
    }

}